Source: python-rados
Section: free
Priority: extra
Maintainer: Hannu Valtonen <hannu.valtonen@ormod.com>
Build-Depends: cdbs, debhelper (>= 7.0.50~), python-support, python (>= 2.6)
Standards-Version: 3.8.4

Package: python-rados
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
  libceph1 (>= 0.24.2),
Description: Python wrapper for Ceph librados. Allows you to store arbitrary number of key/value objects on top of Ceph.
