#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pysupport

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

binary-install/python-rados::
	rm -f $(CURDIR)/debian/$(cdbs_curpkg)/usr/lib/python2.6/site-packages/rados/__init__.py
